<div class="pt-4 pb-3" style="background-color: #222;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="icon-box text-center">
                                <span class="icon-box-icon">
                                    <svg height="36" width="36" viewBox="0 0 24 24" id="Layer_1" data-name="Layer 1"
                                         xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier"
                                                                                              stroke-width="0"></g><g
                                            id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                            stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><defs><style>.cls-1 {
                                        fill: none;
                                        stroke: #555753;
                                        stroke-miterlimit: 10;
                                        stroke-width: 1.91px;
                                    }</style></defs><circle class="cls-1" cx="6.27" cy="17.73" r="1.91"></circle><circle
                                            class="cls-1" cx="17.73" cy="17.73" r="1.91"></circle><polyline
                                            class="cls-1"
                                            points="4.36 17.73 1.5 17.73 1.5 4.36 18.68 4.36 18.68 8.18 20.59 12 22.5 13.07 22.5 17.73 19.64 17.73"></polyline><line
                                            class="cls-1" x1="15.82" y1="17.73" x2="8.18" y2="17.73"></line><polyline
                                            class="cls-1"
                                            points="20.59 12 14.86 12 14.86 8.18 18.68 8.18"></polyline></g></svg>
                                </span>
                    <div class="icon-box-content">
                        <h3 class="icon-box-title">Payment &amp; Delivery</h3><!-- End .icon-box-title -->
                        <p>Free shipping for orders over $50</p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-lg-3 col-sm-6 -->

            <div class="col-lg-3 col-sm-6">
                <div class="icon-box text-center">
                                <span class="icon-box-icon"><svg height="36" width="36" viewBox="0 0 64 64"
                                                                 xmlns="http://www.w3.org/2000/svg"
                                                                 stroke-width="3" stroke="#555753" fill="none"><g
                                        id="SVGRepo_bgCarrier"
                                        stroke-width="0"></g><g
                                        id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path
                                        d="M54.89,26.73A23.52,23.52,0,0,1,15.6,49" stroke-linecap="round"></path><path
                                        d="M9,37.17a23.75,23.75,0,0,1-.53-5A23.51,23.51,0,0,1,48.3,15.2"
                                        stroke-linecap="round"></path><polyline
                                        points="37.73 16.24 48.62 15.44 47.77 5.24"
                                        stroke-linecap="round"></polyline><polyline
                                        points="25.91 47.76 15.03 48.56 15.88 58.76"
                                        stroke-linecap="round"></polyline></g></svg>
                                </span>
                    <div class="icon-box-content">
                        <h3 class="icon-box-title">Return &amp; Refund</h3><!-- End .icon-box-title -->
                        <p>Free 100% money back guarantee</p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-lg-3 col-sm-6 -->

            <div class="col-lg-3 col-sm-6">
                <div class="icon-box text-center">
                                <span class="icon-box-icon">
                                    <svg fill="#555753" height="36" width="36" version="1.1" id="XMLID_246_"
                                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         viewBox="0 0 24 24" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                                            id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                            stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="secure"> <g> <path
                                            d="M14,15c0-1.1-0.9-2-2-2s-2,0.9-2,2c0,0.7,0.4,1.4,1,1.7V19h2v-2.3C13.6,16.4,14,15.7,14,15z"></path> </g> <g> <path
                                            d="M12,24c-4.4,0-8-3.6-8-8s3.6-8,8-8s8,3.6,8,8S16.4,24,12,24z M12,10c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6-6S15.3,10,12,10z "></path> </g> <g> <path
                                            d="M18,11h-2V6c0-2.2-1.8-4-4-4S8,3.8,8,6v5H6V6c0-3.3,2.7-6,6-6s6,2.7,6,6V11z"></path> </g> </g> </g></svg>
                                </span>
                    <div class="icon-box-content">
                        <h3 class="icon-box-title">Secure Payment</h3><!-- End .icon-box-title -->
                        <p>100% secure payment</p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-lg-3 col-sm-6 -->

            <div class="col-lg-3 col-sm-6">
                <div class="icon-box text-center">
                                <span class="icon-box-icon">
                                    <svg height="36" width="36" viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier"
                                                                               stroke-width="0"></g><g
                                            id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                            stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path
                                            fill-rule="evenodd" clip-rule="evenodd"
                                            d="M7 19C5.89543 19 5 18.1046 5 17V14C5 12.8954 5.89543 12 7 12C8.10457 12 9 12.8954 9 14V17C9 18.1046 8.10457 19 7 19Z"
                                            stroke="#555753" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"></path> <path fill-rule="evenodd"
                                                                                  clip-rule="evenodd"
                                                                                  d="M17 19C15.8954 19 15 18.1046 15 17V14C15 12.8954 15.8954 12 17 12C18.1046 12 19 12.8954 19 14V17C19 18.1046 18.1046 19 17 19Z"
                                                                                  stroke="#555753" stroke-width="1.5"
                                                                                  stroke-linecap="round"
                                                                                  stroke-linejoin="round"></path> <path
                                            d="M19 14V12C19 8.13401 15.866 5 12 5C8.13401 5 5 8.13401 5 12V14"
                                            stroke="#555753" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"></path> </g></svg>
                                </span>
                    <div class="icon-box-content">
                        <h3 class="icon-box-title">Quality Support</h3><!-- End .icon-box-title -->
                        <p>Alway online feedback 24/7</p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-lg-3 col-sm-6 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
</div>