{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ preference.site_name }}</title>
    <meta name="keywords" content="Mount Blue">
    <meta name="description" content="Mount Blue - eCommerce">
    <meta name="author" content="mount-blue">
    <meta name="apple-mobile-web-app-title" content="Mount-Blue">
    <meta name="application-name" content="Mount-Blue">
    <meta name="msapplication-TileColor" content="#776c61">

    {% block meta %}

    {% endblock %}

    {#    <!-- Favicon -->#}
    {#    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">#}
    {#    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">#}
    {#    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">#}
        <link rel="shortcut icon" href="{% static  'images/favicon.png'%}">

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

    <!-- Main CSS File -->

    {% block styles %}

    {% endblock %}

    <script>
        var user = '{{request.user}}'

        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getToken('csrftoken');

        function getCookie(name) {
            const cookieArr = document.cookie.split(";");

            for (var i = 0; i < cookieArr.length; i++) {
                const cookiePair = cookieArr[i].split("=");

                if (name == cookiePair[0].trim()) {
                    return decodeURIComponent(cookiePair[1]);
                }
            }
            return null;
        }

        var cart = JSON.parse(getCookie('cart'))

        if (cart == undefined) {
            cart = {}
            document.cookie = 'cart=' + JSON.stringify(cart) + ";doamin=;path=/"
        }

    </script>

</head>

<body>
<!-- Messenger Chat plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>


<div class="page-wrapper">
    {% include 'components/header.html' %}
    <main class="main">
        {% block content %}

        {% endblock %}
    </main>
    {% include 'components/footer.html' %}
</div>

{% include 'components/signin-signup-modal.html' %}
{% include 'components/poster-popup.html' %}
{% include 'components/mobile-menu.html' %}

<script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "112406477615100");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v18.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
<!-- Plugins JS File -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery.hoverIntent.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/superfish.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/bootstrap-input-spinner.js' %}"></script>
<script src="{% static 'js/jquery.elevateZoom.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<!-- Main JS File -->
<script src="{% static 'js/main.js' %}"></script>
<script type="text/javascript">
    var updateBtns = document.getElementsByClassName('update-cart')


    for (var i = 0; i < updateBtns.length; i++) {
        updateBtns[i].addEventListener('click', function () {
            var productID = this.dataset.product
            var action = this.dataset.action
            var color = this.dataset.color
            var quantity = this.dataset.quantity

            if (color == undefined) {
                color = "undefined"
            }
            if (quantity == undefined) {
                quantity = 1
            }
            var size = this.dataset.size

            if (size == undefined) {
                size = "undefined"
            }

            if (user == 'AnonymousUser') {
                addCookieItem(productID, action, color, size, quantity)
            } else {
                updateUserOrder(productID, action, color, size, quantity)
            }
        })
    }

    function clearCart() {
        cart = {};
        document.cookie = 'cart=' + JSON.stringify(cart) + ";doamin=;path=/"
    }

    function addCookieItem(productID, action, color, size, quantity) {

        if (action == 'add') {
            if (cart[productID] == undefined) {
                cart[productID] = {'quantity': quantity, 'size': size, 'color': color}
            } else {
                cart[productID]['quantity'] += parseInt(quantity)
            }
        }
        if (action == 'remove') {
            cart[productID]['quantity'] -= 1

            if (cart[productID]['quantity'] <= 0) {
                delete cart[productID]
            }
        }
        if (action == 'delete') {
            delete cart[productID]
        }
        if (action == 'color') {
            cart[productID]['color'] = color
        }
        if (action == 'size') {
            cart[productID]['size'] = size
        }
        document.cookie = 'cart=' + JSON.stringify(cart) + ";doamin=;path=/"
        location.reload()
    }

    function updateUserOrder(productID, action, color, size, quantity) {
        console.log('User is logged in, sending data...')

        var url = '/update_item/'
        const request = new Request(
            url,
            {headers: {'Content-Type': 'application/json', 'X-CSRFToken': csrftoken}}
        );
        fetch(request, {
            method: 'POST',
            body: JSON.stringify({
                'productID': productID,
                'action': action,
                'color': color,
                'size': size,
                'quantity': quantity,
            })
        })

            .then((response) => {
                return response.json()
            })

            .then((data) => {
                console.log('data:', data)
                location.reload()
            })
    }
</script>
{% block scripts %}

{% endblock %}
</body>
</html>