{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/shop-style.css' %}">
{% endblock %}

{% block content %}
    <div class="page-header text-center" style="background-image: url('{% static 'images/header-bg.jpeg' %}')">
        <div class="container-fluid">
            <h1 class="page-title">{{ page.title }}</h1>
        </div><!-- End .container-fluid -->
    </div>
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ page.title|truncatechars_html:20 }}</li>
            </ol>
        </div><!-- End .container -->
    </nav>
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <article class="entry single-entry">
                        <figure class="entry-media">
                            <img src="{{ page.feature_image.url }}" alt="Featured mage"
                            >

                        </figure><!-- End .entry-media -->

                        <div class="entry-body">

                            <div class="entry-content editor-content">
                                <p>{{ page.content|safe }}</p>
                            </div><!-- End .entry-content -->
                        </div><!-- End .entry-body -->
                    </article><!-- End .entry -->
                </div><!-- End .col-lg-9 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div>
{% endblock %}
