{% if preference.poster_image %}
    {% if not popup_displayed %}
    {% endif %}
    <div class="container newsletter-popup-container mfp-hide" id="newsletter-popup-form">
        <!-- Rest of your popup HTML -->
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row no-gutters bg-white newsletter-popup-content">
                    <div class="col-xl-2-5col col-lg-5">
                        <img src="{{ preference.poster_image.url }}" class="newsletter-img" alt="newsletter">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}